  
 body{
    background-color: #004a3d; cursor: url("swor.png"),auto;
 }
 
 
header {
    height: 60px;
     
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    /* background-color: #ffda06; */
    background-color: #011f19;
    /* position: fixed; */
   
    /* position: sticky; */
     
}
 
.logo {
   height: 20px;
   width: 35px;

 
border: 2px solid rgba(0, 0, 0, 0.436);
    border-radius: 20%;
    margin-top: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
background: #004a3d;
    color: rgba(0, 0, 0, 0.408);
    font-size: small;

}
 
a {
    text-decoration: none;
    background-color: beige;
    border-radius: 10px;
    
}
 
#instTop{
    border: 2px solid rgba(0, 0, 0, 0.538); height: 15px;width: 20px; border-radius: 4px;
    background: transparent;
}
#instaBot{
    border: 2px solid rgba(0, 0, 0, 0.611); height: 8px;width: 10px; border-radius: 5px;margin-left: 3px;margin-top: 3px;
    background: transparent;border-radius: 50px; 
}

#youtube:hover {
    color: rgb(239, 223, 223);
    /* box-shadow: 0 0 50px red; */
    /* text-shadow: 0 0 30px rgb(0, 0, 0); */
    background: rgba(251, 1, 1, 0.911);
   transition:  font-size  1.4s ;
   font-size: large;
    border:3px solid rgba(255, 255, 255, 0.644);
    box-shadow: 0 0 50px rgb(255, 255, 255);
}

#face:hover {
   color:  rgb(248, 249, 249) ;
    box-shadow: 0 0 50px rgb(255, 255, 255);
    text-shadow: 0 0 30px rgb(11, 12, 12);
    background-color: transparent;
    background: rgb(0, 116, 249);
    font-size: large;
   border:3px solid rgba(255, 255, 255, 0.644);
}

#linkdin:hover {
    color:  rgb(255, 255, 255);
    box-shadow: 0 0 50px rgb(255, 255, 255);
    text-shadow: 0 0 30px rgb(12, 13, 13);
    background-color: transparent;
    background: rgb(0, 200, 255);
    font-size: large;
     border:3px solid rgba(255, 255, 255, 0.644);
}

#insta:hover {
     background: linear-gradient(  45deg ,  yellow, orange, red,violet);
border: 3px solid red;
box-shadow: 0 0 50px rgb(255, 255, 255);
    background-color: transparent;
    border:3px solid rgba(255, 255, 255, 0.647);
    
     
}
#insta:hover #instTop  {
    
    
    border:3px solid rgba(255, 255, 255, 0.675);
}
#insta:hover #instaBot  {
    
    
    border:3px solid rgba(255, 255, 255, 0.612);
}
.link{
     
    border-radius: 50%;
    margin: 1px;
     
}

section {
    display: flex;
    width: 100%;
    height: 600px;
    
    
    /* position:fixed; */
    top:60px;
    
    
}

#img {
    width: 50%;
    
    background-color:#c8acc689;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    border-radius: 50%;
    height: 400px;
    /* box-shadow:-10px -10px rgba(238, 236, 236, 0.596); */
    /* border: 10px rgba(252, 224, 10, 0.488) solid; */
  animation: img 2s  ease-in;
    
  
}
 #img{
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0.648);
    border-bottom: 5px solid #004a3d;
    /* position: sticky; */
    top: 100px;
 }
#inf {
    width: 60%;
     border-radius: 10px;
     background-color: #004a3d;
    border-top: 5px solid #004a3d;
    border-bottom: 5px solid rgba(255, 255, 255, 0.867);
  
}
#g{
    background-color: rgb(255, 255, 255);
    border-left: 0.5px solid rgb(255, 255, 255);
}
footer{
    margin-top: 50px;
    height: fit-content;
    width: 100%;
    background-color: black;
    color: azure;
    align-items: center;
    
    
}
pre{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items:start;
}
#div1{
    color:rgb(255, 255, 255);
    font-size:50px;
    margin-left: 10px;
    text-shadow: 0 0 20px black;
 -webkit-text-stroke-width: 0.5px;
 -webkit-text-stroke-color: rgb(255, 255, 255);
}
#div2{
    color: transparent;
    background: linear-gradient(90deg,black,rgb(184, 184, 184),black,rgb(192, 192, 192),black);
    -webkit-background-clip:text;
    font-size:70px;
    margin-left: 30px;
    text-shadow: 0 0 20px rgb(255, 255, 255);
 -webkit-text-stroke-width: 0.5px;
 -webkit-text-stroke-color: rgb(255, 255, 255);
 /* position: sticky;
 top: 120px; */
}
#div3{
    color:rgb(255, 255, 255);
    font-size:25px;
    margin-left: 10px;
    text-shadow: 0 0 20px rgb(28, 56, 27);
 -webkit-text-stroke-width: 0.3px;
 -webkit-text-stroke-color: rgb(0, 0, 0);
}
#div4{
    color:rgb(255, 255, 255);
    font-size:25px;
    margin-left: 10px;
    text-shadow: 0 0 20px rgb(29, 55, 31);
 -webkit-text-stroke-width: 0.3px;
 -webkit-text-stroke-color: rgb(0, 0, 0);
}
main{
  height: fit-content;  
  margin-top: 50px;
  text-align: center;
  border-top: 5px solid rgba(255, 255, 255, 0.468);
  display: block;
}
#edu{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    height: fit-content;
    
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
 

.head{
 color: white;
 -webkit-text-stroke-width: 0.3px;
 -webkit-text-stroke-color: rgb(113, 34, 34);
 position: relative;
 top: 0px;
 text-decoration: underline white;
}
 
 
::-webkit-scrollbar{
    width: 20px;
    background-color: rgb(11, 13, 13);
    border: 2px solid yellow;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(0deg,rgba(255, 0, 0, 0.385),rgb(0, 255, 0),white,rgba(255, 255, 255, 0.281));
    border-radius: 6px;
    border:0px 2px 0px 2px solid rgba(255, 255, 255, 0.542);
    box-shadow: 0 0 50px rgb(255, 255, 255);
    width: 15px;
    margin: 2px;
}
#edu{
    display: flex;
    
}
.edu{
    background-color:rgb(15, 0, 38);
    color: white;
    width: 180px;
  margin: 2px;
    animation: scrollAn   linear    ;
    animation-timeline: view();
    animation-range:  0% cover 50%;
}
                                 /* RESPONSINESS OF THE PIRTFOLIO PAGE */
@keyframes scrollAn{
    0%{
        opacity: -0;
         transform: translateX(-100px);
        scale: 0;
    }
    
    100%{
        opacity: 1;
        transform: translateX(0px);
        scale: 1;
    }
}
@keyframes scrollAnSk{
    0%{
        opacity: -0;
         color: rgba(190, 3, 247, 0.512);
         
    }
    
    100%{
        opacity: 1;
        color: aliceblue; 
         
    }
}
h3{
    color: white;
    animation: scrollAnSk   linear    ;
    animation-timeline: view();
    animation-range:  0% cover 70%;
     
}

.footLink{
    display: block;
    margin: 20px;
  text-decoration:1px underline rgb(13, 255, 1);
  color: rgb(0, 255, 38);
    margin-left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    background: transparent;
}
@media (max-width:600px){
   
    section{
        height: 400px;
    }
   #img{
    width:180px;
    height: 400px;
    margin: 0px;
    }
    #g{
        transform: translateX(-125px); font-size: 8px;
         background: transparent;
         color: white;
        width: 100px;
    }
    .image{
        scale: 0.5;
    }
    *{
         margin: 0px;
    }
    #inf{
        width: 100px;
        height: 400px;
    }
    .about{
        font-size: 2px;
    }
    header{
        align-items: center;
        width: 100%;
    }
    #div1{
        color:rgb(255, 255, 255);
        font-size:25px;
        /* margin-left: 10px; */
        text-shadow: 0 0 20px black;
     -webkit-text-stroke-width: 0.5px;
     -webkit-text-stroke-color: rgb(255, 255, 255);
    }
    #div2{
        color: transparent;
        background: linear-gradient(90deg,black,rgb(184, 184, 184),black,rgb(192, 192, 192),black);
        -webkit-background-clip:text;
        font-size:35px;
        margin-left: 10px;
        text-shadow: 0 0 20px rgb(255, 255, 255);
     -webkit-text-stroke-width: 0.5px;
     -webkit-text-stroke-color: rgb(255, 255, 255);
     /* position: sticky;
     top: 120px; */
    }
    #div3{
        color:rgb(255, 255, 255);
        font-size:10px;
        /* margin-left: 10px; */
        text-shadow: 0 0 20px rgb(28, 56, 27);
     -webkit-text-stroke-width: 0.3px;
     -webkit-text-stroke-color: rgb(0, 0, 0);
    }
    #div4{
        color:rgb(255, 255, 255);
        font-size:10px;
        /* margin-left: 10px; */
        text-shadow: 0 0 20px rgb(29, 55, 31);
     -webkit-text-stroke-width: 0.3px;
     -webkit-text-stroke-color: rgb(0, 0, 0);
    }
}
 
@keyframes img{
    0%{
    scale:0;
    }
    
    100%{
        bscale:1;
    }
}
 
